.titolo {
  font-family: "Oswald", sans-serif;
  font-weight: 700; 
  font-style: normal;
  font-optical-sizing: auto;
  
}

.nome-sito {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
  color: dark;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px  1px 0 black, 1px  1px 0 black;
}


.testo {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px  1px 0 yellow, 1px  1px 0 yellow;
  font-size: larger;
}

.wrapper{
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.98) 0%, rgba(243, 253, 45, 1) 31%); 
}





