.titolo{
  font-family: "Oswald", sans-serif;
  font-weight: 600; 
  font-style: normal;
  font-optical-sizing: auto;
}

.nome-sito{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
  color: dark;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px  1px 0 black, 1px  1px 0 black;
}

.testo{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-shadow: -1px -1px 0 #faf3e0, 1px -1px 0 #faf3e0, -1px  1px 0 #faf3e0, 1px  1px 0 #faf3e0;
  
}



#scroll-text{
  overflow-y: scroll;
  height: 481px;
}



.bg-white{
  background-color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  text-shadow: -1px -1px 0 #faf3e0, 1px -1px 0 #faf3e0, -1px  1px 0 #faf3e0, 1px  1px 0 #faf3e0;
  font-size: larger;
}

.wrapper{
  min-height: 100vh;
  background: #000000;
  background: linear-gradient(0deg, rgba(13,202,240, 0.980) 0%, rgba(188, 156, 69, 0.980) 70%); 
}

.bg-transparent{
  background-color: transparent;
}

.thModifica{
  display: none;
}

.bordo{
  border: #000000 solid 2px;
}


.back-card{
  background-color: #faf3e0;
}

.btn-nav{
  background-color: #faf3e0;
  
}

.drop-menu{
position: absolute;
top: 100%;
background-color: #faf3e0;
display: none;

}

.drop-custom:hover>.drop-menu{
  display: block;
}

.drop-custom{
  position: relative;
}

.bordo-bttm{
  border-bottom: black solid 1px;
}

.btn-dropdown{
  background-color: #faf3e0;
}

.wrapper2{
  min-height: 100vh;
  background: linear-gradient(0deg,rgba(13,202,240, 0.980) 0%, rgba(188, 156, 69, 0.980) , 50%); 
}

.bg-tabella{
  background-color: #fa0b03 !important;

}

.bordo-top{
  border-top: black solid 1px;
}



